.footer {
  background-image: url(../assets/images/footer-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.75rem 0;
}
.footer_wrapper {
}
.footer_logo {
  margin: 0 0 1.5rem;
}
.footer_top {
  display: grid;
  grid-template: 1fr / 0.6fr 0.6fr 1fr 0.5fr;
  gap: 2rem;
  padding: 0 0 2.5rem;
  border-bottom: 1px solid var(--white-b);
}
.footer_bottom {
  padding: 2.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_links {
  display: flex;
  flex-direction: column;
}
.footer_link {
  color: var(--white-b);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin: 0 0 0.75rem;
}
.footer_link:hover {
  color: var(--primary);
  text-shadow: 0 0 6px var(--primary);
}
.footer_paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0 0 0.75rem;
}
.footer_paragraph-line-height {
  line-height: 2.25rem;
}
.footer_title {
  color: var(--white-b);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0 0 2rem;
}
.footer_separator_tablet,
.footer_separator_mobile {
  display: none;
  visibility: hidden;
  width: 100%;
  height: 1px;
  background-color: var(--white-b);
  margin: 0.5rem 0;
}
@media screen and (max-width: 980px) {
  .footer_top {
    grid-template: 1fr / 1fr 0.5fr;
  }
  .footer_separator_tablet {
    visibility: visible;
    display: block;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background-image: url(../assets/images/footer-background-mobile.jpg);
  }
}
@media screen and (max-width: 580px) {
  .footer_top {
    display: flex;
    flex-direction: column;
  }
  .footer_separator_mobile {
    visibility: visible;
    display: block;
  }
}
